.special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    gap: 30px;
    height: calc(100vh - 80px);
}

.wrapper {
    display: flex;
    justify-content: center;
}

.special__left {
    padding: 20px;
    background-color: #e9ecef;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.special__img {
    border-radius: 20px;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

.special__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e9ecef;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 40px;
    position: relative;
}

.special__title {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: absolute;
    top: 20px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.special__name {
    display: flex;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
}

.special__label {
    font-size: 18px;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    background-color: #f8f9fa;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: normal;
}

.button {
    background-color: #e9ecef;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.button:hover {
    background-color: #ced4da;
}

.ingredient {
    padding: 0 5px;
}