@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/extend";
@import "./partials/media";

.hero {
  @include flexBox(center);
  height: calc(100vh - 80px);
  background-color: $bg-color-primary;
  &__content {
    @include border-right;
    @include flexColumn(center, flex-start);
    padding: 20px;
    position: relative;
    gap: 30px;
    background-color: $bg-color-secondary;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    @include responsive-mode(mobil) {
      border-radius: 0;
    }
  }
  &__wrapper {
    @include flexColumn(space-around, center);
    height: 75vh;
    background-color: $bg-color-primary;
    padding: 40px;
  }
  &__aboutcontainer {
    @include flexBox(center);
    @include border-left;
    position: absolute;
    top: 50%;
    left: -120px;
    background-color: $bg-color-secondary;
    padding: 10px;
    width: 120px;
    h3 {
      color: $btn-color-primary;
    }
    @include responsive-mode(mobil) {
      top: 0%;
      left: 50%;
      transform: translate(-50%, -99%);
      border-radius: 0;
      border-bottom: 1px solid $btn-color-primary;
    }
  }
  &__top {
    @include flexColumn(space-evenly, flex-start);
    width: 100%;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 300px;
    h1 {
      @extend %h1-style-shared;
      color: $btn-color-primary;
      span {
        color: $btn-color-secondary;
        margin-left: 10px;
        @include responsive-mode(mobil) {
          margin-left: 5px;
        }
      }
      @include responsive-mode(mobil) {
        font-size: 35px;
      }
    }
    h3 {
      color: $btn-color-secondary;
      font-size: 22px;
    }
    p {
      color: $btn-color-secondary;
      font-size: 18px;
      font-weight: normal;
      @include responsive-mode(mobil) {
        font-size: 14px;
      }
    }
  }
  &__bottom {
    @include flexBox(center);
    width: 100%;
    div:nth-child(1) {
      @extend %button-style-shared;
      @include border-left;
      margin-right: 10px;
      transition: $transition;
      h4 {
        margin-left: 10px;
        color: $btn-color-primary;
      }
      &:hover {
        background-color: $btn-color-primary;
        h4 {
          color: $bg-color-secondary;
        }
        .hero__children {
          color: $bg-color-secondary;
        }
      }
      @include responsive-mode(mobil) {
        font-size: 14px;
      }
    }
    div:nth-child(2) {
      @extend %button-style-shared;
      @include border-right;
      margin-left: 10px;
      transition: $transition;
      &:hover {
        background-color: $btn-color-primary;
        h4 {
          color: $bg-color-secondary;
        }
        .hero__children {
          color: $bg-color-secondary;
        }
      }
      &:hover {
        background-color: $btn-color-primary;
      }
      h4 {
        margin-left: 10px;
        color: $btn-color-primary;
        // &:hover {
        //   color: $bg-color-secondary;
        // }
      }
      @include responsive-mode(mobil) {
        font-size: 14px;
      }
    }
  }
  &__children {
    color: orange;
  }
}
