.hero {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.hero__wrapper {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #282c34;
  align-items: center;
  padding: 40px;
}

.hero__content {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  background-color: #21232a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hero__aboutcontainer {
  position: absolute;
  top: 50%;
  left: -120px;
  background-color: #21232a;
  padding: 10px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hero__abouttext {
  color: orange;
}

.hero__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 300px;
}

.hero__name {
  color: orange;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
}

.hero__samjouni {
  color: white;
  margin-left: 10px;
}

.hero__job {
  color: white;
  font-size: 22px;
}

.hero__unique {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.hero__span {
  color: orange;
  margin: 0 5px;
}

.hero__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__viewportfolio,
.hero__viewresume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hero__viewportfolio {
  margin-right: 10px;
  background-color: orange;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hero__viewresume {
  margin-left: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero__portfoliotext {
  margin-left: 10px;
  color: white;
}

.hero__resumetext {
  margin-left: 10px;
  color: orange;
}

.hero__informations {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21232a;
  padding: 20px;
  /* border: 1px solid orange; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
