@import "../styles//partials/variables";
@import "../styles/partials/mixins";

.container {
  @include flexBox(space-around);
  position: sticky;
  top: 0;
  background-color: $bg-color-primary;
  font-family: $font-text;
  height: 80px;
  z-index: 3;
  &__logo {
    padding: 5px 20px;
    cursor: pointer;
    background-color: $btn-color-secondary;
    border-radius: 10px;
  }
  &__navbar {
    @include flexBox(center);
    ul {
      @include flexBox(space-between);
      background-color: $btn-color-primary;
      padding: 5px 50px;
      border-radius: 10px;
      a {
        padding: 10px 25px;
        margin-right: 20px;
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: $transition;
        border-radius: 10px;
        &:hover {
          color: $bg-color-primary;
        }
      }
    }
  }
  &__socialhamburger {
    @include flexBox(space-around);
    // gap: 50px;
    .container__social {
      @include flexBox(center);
      gap: 10px;
    }
  }
  &__socialicons {
    transition: $transition;
    color: $btn-color-primary;
    &:hover {
      scale: 1.07;
      color: white;
    }
  }
  &__icons {
    cursor: pointer;
    display: none;
    transition: $transition;
    color: $btn-color-primary;
    &:hover {
      scale: 1.07;
      color: $btn-color-secondary;
    }
  }
}

.active {
  @include flexBox(center);
}

.inactive {
  @include flexBox(center);
}
