.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #282c34;
  /* background-color: orange; */
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  z-index: 3;
}

.container__logo {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}

.container__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 5px 50px;
  border-radius: 10px;
}

.container__link {
  padding: 10px 25px;
  margin-right: 20px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 10px;
}

.container__link:hover {
  color: #282c34;
}

.container__icons {
  cursor: pointer;
  /* display: none; */
  transition: 1s;
  color: orange;
}

.container__icons:hover {
  scale: 1.2;
  color: white;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active .container__link {
  color: #282c34;
  /* color: orange; */
  /* background-color: #282c34; */
}

.container__socialhamburger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.container__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container__socialicons {
  transition: 1s;
  color: orange;
}

.container__socialicons:hover {
  scale: 1.2;
  color: white;
}
