@import "../styles/partials/variables";
@import "../styles/partials/extend";
@import "../styles/partials/media";
@import "../styles/partials/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
  width: 100%;
  background-color: $bg-color-primary;
  &__skillscontainer {
    @include flexBox(center);
    transition: $transition;
    background-color: $bg-color-secondary;
    padding: 10px;
    width: 120px;
    h3 {
      color: $btn-color-primary;
    }
    @include responsive-mode(mobil) {
      border-bottom: 1px solid $btn-color-primary;
    }
    &:hover {
      background-color: $btn-color-primary;
      h3 {
        color: $bg-color-secondary;
      }
    }
  }
}
