@import "./variables";

%button-style-shared {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: $bg-color-primary;
}

%input-style-shared {
  border: none;
  outline: none;
  padding: 10px;
  background-color: $bg-color-primary;
  font-size: 18px;
  width: 95%;
  color: $btn-color-secondary;
}

%h1-style-shared {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
}

%a-style-active-shared {
  padding: 10px 25px;
  margin-right: 20px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: $transition;
  border-radius: 10px;
}
