@mixin flexBox($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin flexColumn($justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@mixin border-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@mixin message-polygon {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

@mixin button-hover {
  color: $bg-color-secondary;
  background-color: $btn-color-primary;
}

@mixin title-resume {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin span-resume {
  height: 30px;
  width: 4px;
  background-color: orange;
}
