$bg-color-primary: #282c34;
$bg-color-secondary: #21232a;

$btn-color-primary: orange;
$btn-color-secondary: white;

$font-text: "Roboto", sans-serif;
$transition: 0.7s;
$scale: 1.05;
$custom-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
