@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid $btn-color-primary;
  padding: 10px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    h1 {
      @include title-resume;
    }
    span {
      @include span-resume;
    }
  }
  &__educations {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
