@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  @include flexColumn(center, center);
  gap: 10px;
  background-color: $bg-color-primary;
  padding: 10px;
  h2 {
    color: $btn-color-primary;
    @include responsive-mode(mobil) {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
  }
  h4 {
    font-size: 13px;
    font-weight: normal;
    background-color: $bg-color-secondary;
    padding: 10px;
    border-radius: 10px;
    span {
      color: $btn-color-primary;
    }
  }
  @include responsive-mode(mobil) {
    @include flexColumn(center, center);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    gap: 15px;
    width: 100%;
  }
}
