@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: $bg-color-primary;
  padding: 10px;
  border-radius: 10px;
  box-shadow: $custom-shadow;
  h2 {
    color: $btn-color-primary;
    font-weight: normal;
  }
  h3 {
    font-size: 15px;
    font-weight: normal;
  }
  h4 {
    font-size: 13px;
    font-weight: normal;
    background-color: $bg-color-secondary;
    padding: 10px;
    border-radius: 10px;
    span {
      color: $btn-color-primary;
    }
  }
}
