@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  @include flexColumn(center, flex-start);
  padding: 10px;
  width: 100%;
  &__wrapper {
    @include flexBox(center);
    margin-bottom: 10px;
    h1 {
      @include title-resume;
    }
    span {
      @include span-resume;
    }
  }
  &__educations {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @include responsive-mode(mobil) {
      @include flexColumn(center, center);
      width: 60%;
    }
  }
  @include responsive-mode(mobil) {
    @include flexColumn(flex-start, center);
  }
}
