@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  @include flexColumn(space-around, flex-start);
  background-color: $bg-color-primary;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  h2 {
    font-weight: normal;
  }
  h3 {
    color: $btn-color-primary;
    font-size: 17px;
  }
  &__period {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    li {
      font-size: 14px;
      list-style-type: square;
    }
  }
}
