@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.right {
  @include flexColumn(space-between, flex-start);
  background-color: $bg-color-secondary;
  flex: 0.9;
  padding: 20px;
  box-shadow: $custom-shadow;
  margin: 20px;
  border-radius: 10px;
  gap: 10px;
  &__experienceskillsprojects {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    .right__experienceskills {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex: 0.8;
    }
    @include responsive-mode(mobil) {
      @include flexColumn(center, center);
    }
  }
  &__projects {
    display: flex;
    flex: 0.2;
  }
}
