@import "../partials/extend";
@import "../partials/media";
@import "../partials/mixins";
@import "../partials/variables";

.container {
  width: 100%;
  @include flexColumn(center, flex-start);
  padding: 10px;
  &__wrapper {
    @include flexBox(center);
    margin-bottom: 10px;
    h1 {
      @include title-resume;
    }
    span {
      @include span-resume;
    }
  }
  &__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: $bg-color-primary;
    .container__skill {
      background-color: #21232a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 10px;
    }
    @include responsive-mode(mobil) {
      display: grid;
      grid-template-columns: 1fr;
      width: inherit;
    }
  }
  @include responsive-mode(mobil) {
    @include flexColumn(flex-start, center);
  }
}
