.cocktail {
    margin-bottom: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e9ecef;
    display: grid;
    grid-template-rows: auto 1fr;
    width: fit-content;
}

.cocktail:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cocktail__imgcontainer img {
    height: 320px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cocktail__infos {
    padding: 24px;
}

.cocktail__name,
.cocktail__glass,
.cocktail__alcoholic {
    margin-bottom: 8px;
}

.cocktail__name {
    font-size: 32px;
}

.cocktail__glass {
    letter-spacing: 2px;
    font-size: 20px;
}

.cocktail__details {
    margin: 15px 0;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #ced4da;
    display: inline;
    transition: all .5s ease-in-out;
}

.cocktail__details:hover {
    background-color: #adb5bd;
}

.cocktail__alcoholic {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
    color: #afafaf;
}