.cocktaillist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 64px;
}

.cocktaillist__title {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: fit-content;
}

.cocktaillist__span {
    color: orange;
}

.cocktaillist__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
}

.cocktaillist__nodrink {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ced4da;
    width: fit-content;
}